
.itemsContainer{
  margin: 0px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cardContainer{
  background-color:rgb(250, 250, 250);
  outline: 1px solid rgb(196, 196, 196);
  margin: 0px 2% 2% 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2%;
  border-radius: 5px;
  min-width: 150px;
  max-width: 250px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  transition: transform .2s;
  display: flex;
  flex-direction: column;
}
.cardContainer:hover{
  transform: scale(1.1);
  outline: 1px solid rgb(99, 99, 99);
}
.cardTitle{
  margin: 2%;
  text-align: center;
  color: rgb(90, 90, 90);
}
.cardDesc{
  margin: 1%;
}
.cardDesc strong{
color: rgb(90, 90, 90);;
}